<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
<meta charset="utf-8">
<title>Yona - 비밀번호 재설정</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
<link rel="stylesheet" type="text/css" media="all" href="/bootstrap/css/bootstrap.css">
<link rel="stylesheet" type="text/css" media="all" href="/stylesheets/yobicon/style.css">
<link rel="stylesheet" type="text/css" media="all" href="/stylesheets/usermenu.css">
<link rel="stylesheet" type="text/css" media="all" href="/stylesheets/yobi.css">
</head>
<body class="theme-default">
<div id="main" class="main">
  <div class="page full">
    <div class="center-wrap tag-line-wrap reset-password">
      <h1 class="title">Yona</h1>
      <p class="tag-line">21세기 프로젝트 호스팅 소프트웨어</p>
    </div>
    
    <div class="login-form-wrap frm-wrap">
      <div class="alert alert-danger" th:if="${errorMessage}" th:text="${errorMessage}" style="margin: 10px 0; color: #b94a48; background-color: #f2dede; border: 1px solid #eed3d7; padding: 8px 14px; border-radius: 4px; text-align: left;"></div>

      <form th:action="@{/user/reset-password}" method="POST">
        <input type="hidden" name="hashString" th:value="${hash}" />
        <dl>
          <dd>
            <input id="password" name="password" type="password" class="text password" autocomplete="off" placeholder="새 비밀번호" required autofocus>
          </dd>
          <dd>
            <input id="retypedPassword" name="retypedPassword" type="password" class="text password" autocomplete="off" placeholder="새 비밀번호 확인" required>
          </dd>
        </dl>

        <div class="btns-row">
          <button type="submit" class="ybtn ybtn-primary ybtn-large ybtn-fullsize">비밀번호 변경</button>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>
