<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
<meta charset="utf-8">
<title th:text="|Yona - #{title.signUp}|">Yona - 회원가입</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
<link rel="stylesheet" type="text/css" media="all" href="/bootstrap/css/bootstrap.css">
<link rel="stylesheet" type="text/css" media="all" href="/stylesheets/yobicon/style.css">
<link rel="stylesheet" type="text/css" media="all" href="/stylesheets/usermenu.css">
<link rel="stylesheet" type="text/css" media="all" href="/stylesheets/yobi.css">
<style>
  .go-login:hover {
      text-decoration: underline !important;
  }
</style>
</head>
<body class="theme-default">
<div id="main" class="main">
  <div class="page full">
    <div class="center-wrap tag-line-wrap signup">
      <h1 class="title">Yona</h1>
      <p class="tag-line" th:text="#{app.description}">21세기 프로젝트 호스팅 소프트웨어</p>
    </div>

    <div class="signup-form-wrap frm-wrap">
      <form th:action="@{/signup}" th:object="${user}" method="post" name="signup">
        
        <!-- 에러 메시지 알림 -->
        <div class="alert alert-danger" th:if="${passwordError}" th:text="${passwordError}" style="margin: 10px 0; color: #b94a48; background-color: #f2dede; border: 1px solid #eed3d7; padding: 8px 14px; border-radius: 4px; text-align: left;"></div>
        <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}" style="margin: 10px 0; color: #b94a48; background-color: #f2dede; border: 1px solid #eed3d7; padding: 8px 14px; border-radius: 4px; text-align: left;">
          <ul>
            <li th:each="err : ${#fields.allErrors()}" th:text="${err}"></li>
          </ul>
        </div>

        <dl>
          <dt>
            <label for="loginId" th:text="#{user.signupId}">아이디</label>
          </dt>
          <dd>
            <input id="loginId" type="text" th:field="*{loginId}" class="text password" autocomplete="off" required autofocus>
          </dd>

          <dt>
            <label for="uname" th:text="#{user.name}">이름</label>
          </dt>
          <dd>
            <input id="uname" type="text" th:field="*{name}" class="text password" autocomplete="off" required>
          </dd>

          <dt>
            <label for="email" th:text="#{user.email}">이메일</label>
          </dt>
          <dd>
            <input id="email" type="email" th:field="*{email}" class="text password" autocomplete="off" required>
          </dd>

          <dt>
            <label for="password" th:text="#{user.password}">비밀번호</label>
          </dt>
          <dd>
            <input id="password" type="password" th:field="*{password}" class="text password" autocomplete="off" required>
          </dd>

          <dt>
            <label for="retypedPassword" th:text="#{validation.retypePassword}">비밀번호 확인</label>
          </dt>
          <dd>
            <input id="retypedPassword" type="password" name="retypedPassword" class="text password" autocomplete="off" required>
          </dd>
        </dl>

        <div class="btns-row">
          <button type="submit" class="ybtn ybtn-primary ybtn-large ybtn-fullsize" th:text="#{user.signupBtn}">가입하기</button>
        </div>

        <div class="act-row" style="text-align: center; margin-top: 15px;">
          <span th:text="#{user.isAlreadySignupUser}">이미 가입하셨나요?</span> <a th:href="@{/login}" class="go-login" style="color: #0088cc; text-decoration: none; font-weight: bold;" th:text="#{title.login}">로그인</a>
        </div>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript" src="/javascripts/yona-lib.js"></script>
</body>
</html>
