<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ko">
<head th:replace="~{site/layout :: head(title=${issue.title} + ' - Yona')}">
</head>
<body class="theme-default prj" id="html-body">
<div id="main" class="main">
    <div th:replace="~{site/layout :: gnb}"></div>
    <div th:replace="~{project/header :: header(${project})}"></div>
    <div th:replace="~{project/menu :: menu(${project}, 'issue')}"></div>

    <div class="page-wrap-outer">
        <div class="project-page-wrap board-view">
            <!-- Post Info -->
            <div class="board-header issue">
                <div class="pull-right mr10 mt10 hide-in-mobile">
                    <div class="date" th:title="${templateHelper.getDateString(issue.createdDate)}" th:text="${templateHelper.agoOrDateString(issue.createdDate)}">
                        작성일
                    </div>
                    <span class="badge" th:classappend="'badge-issue-' + ${#strings.toLowerCase(issue.state)}" th:text="${#messages.msg('issue.state.' + issue.state)}">상태</span>
                </div>
                <div class="title">
                    <strong class="board-id" th:text="'#' + ${issue.number}">#1</strong>
                    <span th:text="${issue.title}">이슈 제목</span>
                    <span class="favorite-issue" th:data-issue-id="${issue.id}">
                        <i class="star material-icons va-text-top" th:classappend="${isFavoriteIssue ? 'starred' : ''}">star</i>
                    </span>
                    <div class="pull-right hide show-in-mobile" style="font-size: 0.7em">
                        <span class="date" th:title="${templateHelper.getDateString(issue.createdDate)}" th:text="${templateHelper.agoOrDateString(issue.createdDate)}">작성일</span>
                        <span class="badge badge-small" th:classappend="'badge-issue-' + ${#strings.toLowerCase(issue.state)}" th:text="${#messages.msg('issue.state.' + issue.state)}">상태</span>
                    </div>
                </div>
            </div>

            <!-- Content body -->
            <div class="board-body row-fluid">
                <div class="span9 span-left-pane">
                    <div class="author-info">
                        <a href="javascript:void(0);" class="usf-group">
                            <span class="avatar-wrap smaller">
                                <img src="/images/default-avatar-128.png" width="20" height="20">
                            </span>
                            <strong class="name" th:text="${issue.authorName != null ? issue.authorName : issue.authorLoginId}">작성자</strong>
                            <span class="loginid"> <strong>@</strong><span th:text="${issue.authorLoginId}">loginId</span></span>
                        </a>
                    </div>
                    
                    <div th:id="'issue-' + ${issue.number}" class="hide">
                        <form th:action="@{/api/{owner}/{projectName}/issues/{number}/content(owner=${project.owner}, projectName=${project.name}, number=${issue.number})}">
                            <textarea th:text="${issue.body}"></textarea>
                        </form>
                    </div>
                    <div th:id="'issue-body-' + ${issue.number}">
                        <div class="content markdown-wrap" th:data-allowed-update="${isAllowedUpdate}" th:utext="${markdownService.render(issue.body, true, project)}">본문 내용</div>
                    </div>
                    
                    <div class="attachments" id="attachments" th:data-attachments="${attachmentsJson}"></div>
                    
                    <div class="board-actrow right-txt">
                        <div class="pull-left">
                            <div>
                                <button id="watch-button" type="button" class="ybtn" th:classappend="${isWatching ? 'ybtn-watching' : ''}"
                                        data-toggle="tooltip" data-placement="top" th:title="#{issue.watch.description}" th:data-watching="${isWatching}"
                                        th:text="${isWatching ? #messages.msg('issue.unwatch') : #messages.msg('issue.watch')}">
                                    지켜보기
                                </button>
                                <button th:if="${isAllowedUpdate}" id="issue-share-button" type="button" class="ybtn" data-toggle="popover" data-trigger="hover" data-placement="top" th:data-content="#{issue.sharer.description}" th:text="#{button.share.issue}">공유</button>
                                <span class="project-btn-item ml4">
                                    <a th:href="@{/{owner}/{projectName}/issue/new(owner=${project.owner}, projectName=${project.name}, parentIssueId=${issue.id})}" class="ybtn ybtn-success" th:text="#{button.newSubtask}">하위 이슈 등록</a>
                                </span>
                                <span class="issue-weight">
                                    <span class="divider">|</span>
                                    <button id="upvote-issue-weight" class="ybtn ybtn-small" data-toggle="tooltip" title="Upvote"><i class="yobicon-arrow-up-alt"></i></button>
                                    <button class="ybtn ybtn-small" id="down-vote-issue-weight" data-toggle="tooltip" title="Down vote"><i class="yobicon-arrow-down-alt"></i></button>
                                    <span class="weight-number" data-toggle="popover" data-trigger="hover" data-placement="top" th:data-content="#{issue.weight.description}" th:text="${issue.weight}">0</span>
                                </span>
                            </div>
                        </div>
                        <div id="vote" class="vote-wrap" th:classappend="${!issue.voters.isEmpty() ? 'voter-exists' : ''}">
                            <th:block th:with="hasVoted=${currentUser != null && issue.voters.![id].contains(currentUser.id)}">
                                <a th:if="${currentUser != null}" th:href="@{/{owner}/{projectName}/issue/{issueNumber}/vote(owner=${project.owner}, projectName=${project.name}, issueNumber=${issue.number})}" 
                                   class="ybtn-watching-link" th:classappend="${hasVoted ? 'ybtn-watching' : ''}"
                                   data-request-method="post" data-toggle="tooltip" th:title="${hasVoted ? #messages.msg('issue.unvote.description') : #messages.msg('issue.vote.description')}">
                                    <span class="heart"><i class="yobicon-hearts"></i></span>
                                </a>
                                <span th:if="${currentUser == null}" class="ybtn-disabled" style="color: #777;" data-toggle="tooltip" th:title="#{user.login.alert}" data-login="required">
                                    <span class="heart"><i class="yobicon-hearts"></i></span>
                                </span>
                            </th:block>

                            <div th:if="${!issue.voters.isEmpty()}" class="voter-list-wrap">
                                <ul class="voter-list">
                                    <li th:if="${currentUser != null && issue.voters.![id].contains(currentUser.id)}">
                                        <a th:href="@{/user/{loginId}(loginId=${currentUser.loginId})}" class="avatar-wrap smaller" data-toggle="tooltip" data-placement="top" th:title="${currentUser.name}">
                                            <img th:src="${currentUser.avatarUrl}">
                                        </a>
                                    </li>

                                    <th:block th:with="otherVoters=${templateHelper.getVotersExceptCurrentUser(issue.voters, currentUser)}">
                                        <li th:each="voter : ${templateHelper.getVotersForAvatar(otherVoters, 3)}">
                                            <a th:href="@{/user/{loginId}(loginId=${voter.loginId})}" class="avatar-wrap smaller" data-toggle="tooltip" data-placement="top" th:title="${voter.name}">
                                                <img th:src="${voter.avatarUrl}">
                                            </a>
                                        </li>
                                        <li th:if="${otherVoters.size() > 3}" data-toggle="tooltip" data-html="true"
                                            th:title="${templateHelper.getVotersTooltip(otherVoters, 3, 5)}">
                                            <a href="#voters" data-toggle="modal" th:text="#{issue.voters.more(${otherVoters.size() - 3})}">
                                                외 N명
                                            </a>
                                        </li>
                                    </th:block>
                                </ul>
                            </div>
                        </div>

                        <button type="button" id="translate" class="icon btn-transparent-with-fontsize-lineheight ml10" data-toggle="tooltip" th:title="#{button.translation}"><i class="yobicon-lang"></i></button>
                        <div class="watcher-list" style="margin-top: 10px;"></div>

                        <span class="act-row">
                            <button th:if="${isAllowedUpdate}" type="button" class="icon btn-transparent-with-fontsize-lineheight ml10 pt5px" data-toggle="tooltip" th:title="#{button.edit}" th:onclick="|window.location='/${project.owner}/${project.name}/issue/${issue.number}/editform'|"><i class="yobicon-edit-2"></i></button>
                            <a th:if="${!isAllowedUpdate}" th:href="@{/{owner}/{projectName}/issue/{number}/editform(owner=${project.owner}, projectName=${project.name}, number=${issue.number})}">
                                <button type="button" class="icon btn-transparent-with-fontsize-lineheight ml10 pt5px" data-toggle="tooltip" th:title="#{button.show.original}"><i class="yobicon-edit-2"></i></button>
                            </a>
                            <th:block th:if="${isAllowedUpdate}">
                                <th:block th:if="${@templateHelper.canBeDeleted(issue, comments)}">
                                    <a href="#deleteConfirm" data-toggle="modal">
                                        <button type="button" class="icon btn-transparent-with-fontsize-lineheight ml6" data-toggle="tooltip" th:title="#{button.delete}"><i class="yobicon-trash"></i></button>
                                    </a>
                                </th:block>
                                <th:block th:unless="${@templateHelper.canBeDeleted(issue, comments)}">
                                    <button type="button" class="icon disabled btn-transparent-with-fontsize-lineheight ml6" data-toggle="popover" data-trigger="hover" data-placement="top" th:data-content="#{issue.can.not.be.deleted}"><i class="yobicon-trash"></i></button>
                                </th:block>
                            </th:block>
                        </span>
                    </div>

                    <div id="comments" class="board-comment-wrap">
                        <div id="timeline">
                            <div class="timeline-list">
                                <!-- 타임라인 영역 (댓글 + 상태/담당자/라벨/마일스톤/이동 이벤트, Thymeleaf Loop) -->
                                <th:block th:each="item : ${timeline}">
                                <div th:if="${item.kind == 'COMMENT'}" th:with="comment=${item.comment}" class="comment" th:id="'comment-' + ${comment.id}">
                                    <div class="comment-body">
                                        <div class="author-info">
                                            <strong class="name" th:text="${comment.authorName != null ? comment.authorName : comment.authorLoginId}">댓글작성자</strong>
                                            <span class="date" th:text="${templateHelper.agoOrDateString(comment.createdDate)}">작성일</span>

                                            <span class="act-row pull-right">
                                                <!-- 댓글 공감인 5명 초과인 경우 -->
                                                <th:block th:if="${comment.voters.size() > 5}">
                                                    <span style="margin-right: 2px;" data-toggle="tooltip" data-html="true" th:title="${templateHelper.getVotersTooltip(comment.voters, 0, 5)}">
                                                        <a class="vote-description-people" th:href="'#voters-' + ${comment.id}" data-toggle="modal" th:text="${comment.voters.size() == 1 ? #messages.msg('common.comment.vote.agreement', comment.voters.size()) : #messages.msg('common.comment.vote.agreements', comment.voters.size())}">
                                                            N 공감
                                                        </a>
                                                    </span>

                                                    <!-- 댓글 추천인 모달 -->
                                                    <div th:id="'voters-' + ${comment.id}" class="modal hide voters-dialog">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                            <h5 class="nm" th:text="#{issue.voters}">공감하는 사람들</h5>
                                                        </div>
                                                        <div class="modal-body">
                                                            <ul class="unstyled">
                                                                <li th:each="voter : ${comment.voters}">
                                                                    <a th:href="@{/user/{loginId}(loginId=${voter.loginId})}" class="usf-group" target="_blank">
                                                                        <span class="avatar-wrap mlarge">
                                                                            <img th:src="${voter.avatarUrl}" width="40" height="40">
                                                                        </span>
                                                                        <strong class="name" th:text="${voter.name}">이름</strong>
                                                                        <span class="loginid"> <strong>@</strong><span th:text="${voter.loginId}">loginId</span></span>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button class="ybtn ybtn-info ybtn-small" data-dismiss="modal" aria-hidden="true" th:text="#{button.close}">닫기</button>
                                                        </div>
                                                    </div>
                                                </th:block>

                                                <!-- 댓글 공감인 5명 이하인 경우 -->
                                                <th:block th:if="${comment.voters.size() <= 5}">
                                                    <a th:each="voter : ${comment.voters}" th:href="@{/user/{loginId}(loginId=${voter.loginId})}" class="avatar-wrap smaller" data-toggle="tooltip" data-placement="top" th:title="${voter.name}">
                                                        <img th:src="${voter.avatarUrl}">
                                                    </a>
                                                </th:block>

                                                <!-- 공감 버튼 토글 -->
                                                <th:block th:with="hasCommentVoted=${currentUser != null && comment.voters.![id].contains(currentUser.id)}">
                                                    <button th:if="${hasCommentVoted}" type="button" class="btn-transparent-with-fontsize-lineheight" th:title="#{common.comment.unvote}" data-request-type="comment-vote" th:data-request-uri="@{/{owner}/{projectName}/issue/{issueNumber}/comment/{commentId}/unvote(owner=${project.owner}, projectName=${project.name}, issueNumber=${issue.number}, commentId=${comment.id})}">
                                                        <i class="yobicon-hearts vote-heart-on"></i>
                                                    </button>
                                                    <button th:if="${!hasCommentVoted && currentUser != null}" type="button" class="btn-transparent-with-fontsize-lineheight" th:title="#{common.comment.vote}" data-request-type="comment-vote" th:data-request-uri="@{/{owner}/{projectName}/issue/{issueNumber}/comment/{commentId}/vote(owner=${project.owner}, projectName=${project.name}, issueNumber=${issue.number}, commentId=${comment.id})}">
                                                        <i class="yobicon-hearts vote-heart-off"></i>
                                                    </button>
                                                    <span th:if="${currentUser == null}" class="btn-transparent-with-fontsize-lineheight" th:title="#{common.comment.vote}">
                                                        <i class="yobicon-hearts vote-heart-off vote-heart-disable-hover"></i>
                                                    </span>
                                                </th:block>
                                            </span>
                                        </div>
                                        <div class="content markdown-wrap" th:utext="${markdownService.render(comment.contents, true, project)}">댓글내용</div>
                                    </div>
                                </div>

                                <!-- 이벤트 영역: yona partial_event_timeline.scala.html 대응 (P1-106) -->
                                <div th:if="${item.kind == 'EVENT'}" th:with="event=${item.event}, eventTypeName=${event.eventType.name()}" class="event" th:id="'event-' + ${event.id}">
                                    <div>
                                        <th:block th:if="${eventTypeName == 'ISSUE_STATE_CHANGED'}">
                                            <span class="state" th:classappend="${#strings.toLowerCase(event.newValue)}" th:text="#{'issue.state.' + ${#strings.toLowerCase(event.newValue)}}">상태</span>
                                            <span th:if="${#strings.equalsIgnoreCase(event.newValue, 'OPEN')}" th:text="#{issue.event.open(${event.senderLoginId})}">이슈를 열었습니다</span>
                                            <span th:if="${#strings.equalsIgnoreCase(event.newValue, 'CLOSED')}" th:text="#{issue.event.closed(${event.senderLoginId})}">이슈를 닫았습니다</span>
                                        </th:block>
                                        <th:block th:if="${eventTypeName == 'ISSUE_ASSIGNEE_CHANGED'}">
                                            <span class="state changed" th:text="#{issue.state.assigned}">할당됨</span>
                                            <span th:if="${event.newValue != null}" th:text="#{issue.event.assigned(${event.senderLoginId}, ${event.newValue})}">담당자로 지정했습니다</span>
                                            <span th:if="${event.newValue == null}" th:text="#{issue.event.unassigned(${event.senderLoginId})}">담당자를 없앴습니다</span>
                                        </th:block>
                                        <th:block th:if="${eventTypeName == 'ISSUE_MILESTONE_CHANGED'}">
                                            <span class="state milestone-changed" th:text="#{issue.update.milestone.id}">마일스톤 변경</span>
                                            <span th:text="#{issue.event.milestone.changed(${event.senderLoginId}, ${event.newValue != null ? event.newValue : #messages.msg('common.none')})}">마일스톤을 변경했습니다</span>
                                        </th:block>
                                        <th:block th:if="${eventTypeName == 'ISSUE_MOVED'}">
                                            <span class="state changed" th:text="#{issue.event.moved.title}">이동함</span>
                                            <span th:text="#{issue.event.moved(${event.senderLoginId}, ${event.oldValue})}">이슈를 이동했습니다</span>
                                        </th:block>
                                        <th:block th:if="${eventTypeName == 'ISSUE_LABEL_CHANGED'}">
                                            <span class="state label-changed" th:text="#{issue.event.label.added.title}">라벨 변경</span>
                                            <span th:text="#{issue.event.label.changed(${event.senderLoginId}, ${event.oldValue}, ${event.newValue})}">라벨을 변경했습니다</span>
                                        </th:block>
                                        <th:block th:if="${eventTypeName != 'ISSUE_STATE_CHANGED' && eventTypeName != 'ISSUE_ASSIGNEE_CHANGED' && eventTypeName != 'ISSUE_MILESTONE_CHANGED' && eventTypeName != 'ISSUE_MOVED' && eventTypeName != 'ISSUE_LABEL_CHANGED'}">
                                            <span class="state changed" th:text="${event.senderLoginId} + ': ' + ${event.newValue}">이벤트</span>
                                        </th:block>
                                    </div>
                                    <span class="date" th:text="${templateHelper.agoOrDateString(event.created)}">날짜</span>
                                </div>
                            </th:block>
                            </div>
                        </div>

                        <!-- 댓글 등록 폼 영역 -->
                        <th:block sec:authorize="isAuthenticated()">
                            <form id="comment-form" th:action="@{/{owner}/{projectName}/issue/{issueNumber}/comment(owner=${project.owner}, projectName=${project.name}, issueNumber=${issue.number})}" method="post" enctype="multipart/form-data">
                                <div class="write-comment-box">
                                    <div th:replace="~{site/layout :: markdownEditor('contents', '', 'comment-body')}"></div>

                                    <div th:replace="~{common/uploadForm :: uploadForm('ISSUE_COMMENT', null, null)}"></div>

                                    <div class="write-comment-wrap">
                                        <div class="right-txt">
                                            <button type="submit" class="ybtn ybtn-success" th:text="#{button.comment.new}">댓글 등록</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </th:block>

                        <!-- 비로그인 사용자용 안내 영역 -->
                        <th:block sec:authorize="isAnonymous()">
                            <div class="write-comment-box mt20" th:title="#{error.auth.unauthorized.comment}" data-login="required">
                                <div class="write-comment-wrap">
                                    <div class="textarea-box">
                                        <textarea class="comment disabled" disabled="disabled" style="cursor:text;" th:placeholder="#{error.auth.unauthorized.comment}"></textarea>
                                    </div>
                                    <div class="right-txt mt10">
                                        <span class="ybtn ybtn-disabled" th:text="#{button.comment.new}">댓글 등록</span>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>

                <!-- Right Pane -->
                <div class="span3 span-right-pane mb20">
                    <div class="issue-info">
                        <form id="issueUpdateForm" th:action="@{/api/projects/{projectId}(projectId=${project.id})}" method="post">
                            <input type="hidden" name="issues[0].id" th:value="${issue.id}" />

                            <dl>
                                <dt th:text="#{issue.assignee}">담당자</dt>
                                <dd>
                                    <span th:text="${issue.assignee != null ? issue.assignee.user.name : #messages.msg('issue.noAssignee')}">담당자 없음</span>
                                </dd>
                            </dl>

                            <dl>
                                <dt th:text="#{milestone}">마일스톤</dt>
                                <dd>
                                    <span th:text="${issue.milestone != null ? issue.milestone.title : #messages.msg('issue.noMilestone')}">마일스톤 없음</span>
                                </dd>
                            </dl>

                            <dl>
                                <dt th:text="#{issue.dueDate}">마감일</dt>
                                <dd>
                                    <span th:text="${issue.dueDate != null ? #dates.format(issue.dueDate, 'yyyy-MM-dd') : #messages.msg('issue.noDuedate')}">마감일 없음</span>
                                </dd>
                            </dl>

                            <!-- labels -->
                            <th:block th:with="projectLabels=${@templateHelper.getProjectLabels(project)}">
                                <div th:if="${projectLabels != null and !projectLabels.isEmpty()}">
                                    <div th:if="${isAllowedUpdate}">
                                        <div th:replace="~{issue/partial_select_label :: selectLabel(${projectLabels}, ${issue.labels}, '', '', ${project})}"></div>
                                    </div>
                                    <div th:unless="${isAllowedUpdate}">
                                        <div th:replace="~{issue/partial_show_selected_label :: showLabel(${issue.labels}, '')}"></div>
                                    </div>
                                </div>
                            </th:block>

                            <!-- sharers -->
                            <dl class="sharer-list" th:classappend="${issue.sharers.isEmpty()} ? 'hide' : ''" style="margin-top: 15px;">
                                <dt class="issue-share-title mb10">
                                    <span th:text="#{issue.sharer}">공유자</span>
                                    <span class="num issue-sharer-count" th:if="${!issue.sharers.isEmpty()}" th:text="${issue.sharers.size()}">0</span>
                                </dt>
                                <dd id="sharer-list" th:classappend="${issue.sharers.isEmpty()} ? 'hide' : ''">
                                    <th:block th:if="${isAllowedUpdate}">
                                        <input type="text" class="width100p" id="issueSharer" name="issueSharer" th:placeholder="#{issue.sharer.select}" th:value="${#strings.listJoin(issue.sharers.![user.loginId], ',')}" style="width: 100%;">
                                    </th:block>
                                    <th:block th:unless="${isAllowedUpdate}">
                                        <div th:each="sharer : ${issue.sharers}" class="text-ellipsis sharer-item" style="padding: 2px 0;">
                                            <a th:href="@{/user/{loginId}(loginId=${sharer.user.loginId})}" class="usf-group">
                                                <span class="avatar-wrap smaller"><img th:src="${sharer.user.avatarUrl}"></span>
                                                <strong th:text="${sharer.user.name}">이름</strong>
                                                <span th:text="'@' + ${sharer.user.loginId}">loginId</span>
                                            </a>
                                        </div>
                                    </th:block>
                                </dd>
                            </dl>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Confirm to delete post -->
    <div id="deleteConfirm" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3 th:text="#{issue.delete}">이슈 삭제</h3>
        </div>
        <div class="modal-body">
            <p th:text="#{post.delete.confirm}">정말 이 이슈를 삭제하시겠습니까?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="ybtn ybtn-danger" data-request-method="delete" th:data-request-uri="@{/api/projects/{projectId}/issues/{number}(projectId=${project.id}, number=${issue.number})}">네</button>
            <button type="button" class="ybtn" data-dismiss="modal">아니요</button>
        </div>
    </div>

    <!-- Voters Modal -->
    <div id="voters" class="modal hide voters-dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h5 class="nm" th:text="#{issue.voters}">공감하는 사람들</h5>
        </div>
        <div class="modal-body">
            <ul class="unstyled">
                <li th:each="voter : ${issue.voters}">
                    <a th:href="@{/user/{loginId}(loginId=${voter.loginId})}" class="usf-group" target="_blank">
                        <span class="avatar-wrap mlarge">
                            <img th:src="${voter.avatarUrl}" width="40" height="40">
                        </span>
                        <strong class="name" th:text="${voter.name}">이름</strong>
                        <span class="loginid"> <strong>@</strong><span th:text="${voter.loginId}">loginId</span></span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="modal-footer">
            <button class="ybtn ybtn-info ybtn-small" data-dismiss="modal" aria-hidden="true" th:text="#{button.close}">닫기</button>
        </div>
    </div>

    <footer th:replace="~{site/layout :: footer}"></footer>
</div>

<th:block th:replace="~{site/layout :: scripts}"></th:block>
<th:block th:replace="~{common/select2 :: select2}"></th:block>
<script type="text/javascript" src="/javascripts/lib/atjs/jquery.caret.min.js"></script>
<script type="text/javascript" src="/javascripts/lib/atjs/jquery.atwho.js"></script>
<script type="text/javascript">
    $(function(){
        $yobi.loadModule("issue.View", {
            "issueId"  : "[[${issue.id}]]",
            "nextState": "[[${issue.state}]]",
            "urls"     : {
                "watch"     : "/watch",
                "unwatch"   : "/unwatch"
            }
        });

        $('[data-request-method="delete"]').click(function(){
            var uri = $(this).data("requestUri");
            $.ajax({
                url: uri,
                type: "DELETE",
                success: function() {
                    window.location = "[[@{/{owner}/{projectName}/issues(owner=${project.owner}, projectName=${project.name})}]]";
                }
            });
        });
    });
</script>
</body>
</html>
